lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
# modules

client/src/bower_components
node_modules

npm-debug.log

# Jetbrains folder
/.idea

.DS_Store

#config
/config/config.js
config
